<%- include("navbar.ejs") %>

<style>
    /* .carousel-indicators
    {
        background-color: red;
        width: 100%;
        margin-left: 0px;
        justify-content: right;
        padding-right: 30px;
    } */
    .carousel-indicators li
    {
        background-color: rgb(192, 189, 94);
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    
    .carousel-caption
    {
        background-image: linear-gradient(-60deg,rgba(0,0,0,0) 30%,rgba(0,0,0,0.6) 30%);
        position: absolute;
        left: 0px;
        width: 60%;
        height: 100%;
        top:0px;
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        /* justify-content: center; */
        align-items: center;
    }
</style>
<div id="demo" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
        <% for(var i=0;i<slides.length;i++) { %>
            <li data-target="#demo" data-slide-to="<%=i%>" class="<%=(i==0) ? 'active':'' %>"></li>
        <% } %>
    </ul>


    <div class="carousel-inner ">
        <% for(var i=0;i<slides.length;i++) { %>
      <div class="carousel-item <%=(i==0) ? 'active':'' %>">
        <img src="/uploads/<%=slides[i].slider_image %>" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
            <div class="center_div">
                <h3><%=slides[i].slider_title%></h3>
                    <p>
                        <a href="<%=slides[i].slider_button_link%>" target="blank">
                            <button class="btn btn-primary">
                                <%=slides[i].slider_button_text%>
                            </button>
                        </a>
                    </p>
            </div>
        </div>   
      </div>
      <% } %>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

<br><br>
<br><br>

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <h3 class="text-center">
                <i class="fa-solid fa-star"></i>
                    Newly Added Courses
                <i class="fa-solid fa-star "></i>
            </h3>
        </div>
        <% for(var i=0; i<courses.length;i++) { %>
        <div class="col-md-4 p-3">
            <div class="card" >
                <div class="card-header text-center">
                    <b class="pr-3">
                        <%=courses[i].course_name %>
                   </b>
                </div>
                <div class="card-body">
                    <img src="/uploads/<%=courses[i].course_image %>" width="100%" height="200px">
                </div>
                <div class="card-footer  bg-dark text-white">
                   <h4>&#8377;<%=courses[i].course_price %>/-
                        <a href="/course_details/<%=courses[i].course_id%>">
                            <button class="btn btn-outline-light float-right btn-sm">View Details</button>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <% } %>

    </div>
  </div>



  <br><br><br>
  <br><br><br>
  <br><br><br>
<%- include("footer.ejs") %>